{% extends '@OwpCore/content.html.twig' %}

{% block title %}{{ team.event.title }}{% endblock %}

{% block content_header %}
    <img class="first-slide opacity-20" src="{{ asset('images/default.jpg') | imagine_filter('carousel_header') }}" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-1">
            <h1 class="display-2 d-inline-block"><span class="badge badge-primary">{{ team.event.dateBegin|date('d') }}</span></h1>
            <h3 class="display-4 d-inline-block"><span class="badge">{{ team.event.dateBegin|date('F')|trans|upper }}</span></h3>
            <h3 class="display-4 d-inline-block"><span class="badge text-primary">{{ team.event.dateBegin|date('Y') }}</span></h3>
            <h1>Inscription - {{ team.event.title }}</h1>
            <div class="my-4">
                <a href="{{ path('owp_event_show', {'slug': team.event.slug}) }}" class="btn btn-primary">Retourner sur la page de l'évènement</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row my-4 mx-0">
        <div class="col-12 col-lg-10 offset-lg-1">
            {{ _self.breadcrumb([{'label':team.event.title, 'url': path('owp_event_show', {'slug': team.event.slug}), 'class': ''},{'label':'Inscription', 'url': '#', 'class': 'active'}])}}
        </div>

        <div class="col-12 col-lg-10 offset-lg-1">
            {{ form_start(form, {'attr': {'id': 'form_entry'}}) }}
                <div class="form-group">
                    <h2 class="font-weight-bold">Modification Equipe #1</h2>
                    <div class="form-group">
                        <label><strong>Nom d'équipe</strong></label>
                        {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {% for people in form.peoples %}
                        <div class="form-group">
                            <h3>Equipier #{{ '1.' ~ loop.index }}</h3>
                            <h4>Licencié</h4>
                            <div class="form-group">
                                <label><strong>Numéro de licence fédérale FFCO</strong></label>
                                {{ form_widget(people.base, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <h4>Non licencié</h4>
                            <div class="form-group">
                                <label><strong>Prénom</strong></label>
                                {{ form_widget(people.firstName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                <label><strong>Nom</strong></label>
                                {{ form_widget(people.lastName, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                <label><strong>Commentaire</strong></label>
                                {{ form_widget(people.comment, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary" form="form_entry">Modifier l'inscription</button>
                <a href="#" data-toggle="modal" data-target="#confirm-delete" data-href="{{ path('owp_team_delete', {'id': team.id}) }}" class="btn btn-link text-muted">
                    Supprimer l'inscription
                </a>
            {{ form_end(form) }}
        </div>
    </div>

    {% include '@OwpCore/Common/Modal/modal__confirm_delete.html.twig' %}
{% endblock %}
