{% extends '@OwpCore/content.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('entry') }}
{% endblock %}

{% block title %}{{ event.title }}{% endblock %}

{% block content_header %}
    <img class="first-slide opacity-20" src="{{ asset('images/default.jpg') | imagine_filter('carousel_header') }}" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-1">
            <h1 class="display-2 d-inline-block"><span class="badge badge-primary">{{ event.dateBegin|date('d') }}</span></h1>
            <h3 class="display-4 d-inline-block"><span class="badge">{{ event.dateBegin|date('F')|trans|upper }}</span></h3>
            <h3 class="display-4 d-inline-block"><span class="badge text-primary">{{ event.dateBegin|date('Y') }}</span></h3>
            <h1>Inscription - {{ event.title }}</h1>
            <div class="my-4">
                <a href="{{ path('owp_event_show', {'slug': event.slug}) }}" class="btn btn-primary">Retourner sur la page de l'évènement</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row my-4 mx-0 mx-lg-4">
        <div class="col-12 col-lg-10 offset-lg-1">
            {{ _self.breadcrumb([{'label':event.title, 'url': path('owp_event_show', {'slug': event.slug}), 'class': ''},{'label':'Inscription', 'url': '#', 'class': 'active'}])}}
        </div>
    </div>

    {{ form_start(form, {'attr': {'id': 'form_entry'}}) }}
        <div class="row my-4 mx-0 mx-lg-4">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="mb-4"
                {% include '@OwpEntry/Form/form__entry_club__select_club.html.twig' %}
                <table class="table">
                    <thead>

                    </thead>
                    <tbody>
                        {% for people in form.base %}
                            <tr>
                                <td class="form-check">
                                    {{ form_widget(people) }}
                                </td>
                                <td>
                                    {{ form_label(people) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row position-sticky fixed-bottom bg-white border-top border-primary mx-0 my-4">
            <div class="col-12 col-lg-10 offset-lg-1 p-4 my-lg-4">
                <div class="d-inline-flex">
                    <button type="submit" class="btn btn-lg btn-primary" form="form_entry" disabled>Enregistrer l'inscription</button>
                    <div id="number-entries" class="p-2 text-muted">
                        <span>0</span> personne(s) sélectionnée(s)
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
